{% extends 'base.html' %}

{% block content %}


<section class="contact_form_area p_100">
    <div class="container">
        <div class="main_title">
            <h2>Свяжитесь с нами</h2>
            <h5>Любые интересующие вопросы, вы можете задать в контактах ниже</h5>
        </div>
           <div class="row">
              
               <div class="col-lg-7 offset-md-1">
                   <div class="contact_details">
                       <div class="contact_d_item">
                           <h3>Адрес :</h3>
                           <p>Город Бишкек <br /> улица Рыскулова 79б</p>
                       </div>
                       <div class="contact_d_item">
                           <h5>Мобильный телефон : <a href="tel:+ 996 (700) 847 153"> + 996 (700) 847 153</a></h5>
                           <h5>Электронная почта : <a href="mailto:nuraiym.alibekiva.ch@gmail.com">nuraiym.alibekiva.ch@gmail.com</a></h5>
                       </div>
                       <div class="contact_d_item">
                           <h3>Открыто :</h3>
                           <p>8:00 AM – 10:00 PM</p>
                           <p>Понедельник – суббота</p>
                       </div>
                   </div>
               </div>
           </div>
    </div>
</section>

{% endblock %}